<div class="abc">
<%= form_with url: abc_problems_path, method: :get do |form| %>
<div class="category">
公衆衛生学
</div>
</br>
<div class="sentence">
【1】公衆衛生活動の礎となっている日本国憲法の条文として、正しいものを一つ選びなさい。</div>
 <div class="problem" id="problem1">
  <%= form.submit "1.第7条",class: 'select-button' %></br>
  <%= form.submit "2.第9条",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.第25条",class: 'select-button'  %></div>
  <%= form.submit "4.第26条",class: 'select-button'  %></br>
  </br>
   <span class='select-message' style='display:none;'>解説</br>
   健康増進法は厚生労働省、国民健康保険法は総務省、食品衛生法は消費者庁</span>
</div>
</br>
<div class="sentence">
【2】昭和53年（ 1978年）に提唱されたプライマリー・ヘルス・ケア（ PHC ）に関する記述について、正しいものを一つ選びなさい。</div>
 <div class="problem" id="problem2">
<%= form.submit "1.提唱が行われたのは、オタワ憲章においてである。",class: 'select-button' %>
</br>
  <%= form.submit "2.「人々が自らの健康とその要因をコントロールし、改善できるようになるプロセス」である。",class: 'select-button'  %></br>
  <%= form.submit "3.提唱された活動施策には、「健康を支援する環境づくり」がある。",class: 'select-button'  %></br>
  <div class="option">
    <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.「すべての人に健康を」を基本理念としている。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   第1号被保険者は65歳以上、第2号被保険者は40歳以上65歳未満、要介護認定の申請は市町村に行う。</span>
   </div>
</br>
<div class="sentence">
【3】世界の公衆衛生に関わる国際機関と担当している事業の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem3">
  <%= form.submit "1.国連食糧農業機関（ FAO ） ―――――― 労働保健に関する事業 ",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.世界保健機関（ WHO ） ―――――――― 医療、公衆衛生に関する指導・援助事業",class: 'select-button'  %></div>
  <%= form.submit "3.国際労働機関（ ILO ） ―――――――― 母子保健や児童に関する事業",class: 'select-button'  %></br>
  <%= form.submit "4.ユニセフ、国連児童基金（ UNICEF ） ―― 食料（食糧）や農産物、栄養改善に関する事業",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   調理師免許の申請、調理師名簿の訂正、調理師免許の書換は住所地の都道府県知事に対して申請する。</span>
   </div>
</br>
<div class="sentence">
【4】平均寿命と健康寿命に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem4">
  <%= form.submit "1.平均寿命は、国民健康・栄養調査の結果を用いて算出されている。",class: 'select-button' %></br>
  <%= form.submit "2.平均寿命は、満20歳の平均余命を指す指標として表される。",class: 'select-button'  %></br>
  <%= form.submit "3.健康寿命は、巨大震災時には平均寿命より長くなることがある。",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.健康寿命は、自立した生活を維持し、認知症や寝たきりでない年齢期間である。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   日本脳炎、マラリア、デング熱は蚊に刺されることによって感染する</span>
   </div>
</br>
<div class="sentence">
【5】廃棄物に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem5">
  <%= form.submit "1.事業活動に伴う燃え殻、汚泥、廃油は、一般廃棄物である。",class: 'select-button' %></br>
  <%= form.submit "2.家庭から排出される生活系ごみは、産業廃棄物である。",class: 'select-button'  %></br>
    <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.一般廃棄物は、市町村が処理しなければならない。",class: 'select-button'  %></div>
  <%= form.submit "4.産業廃棄物は、都道府県が処理しなければならない。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   コレラ・腸管出血性大腸菌感染症は汚染された飲食物の摂取、結核は空気感染又は飛沫感染</span>
   </div>
</br>
<div class="sentence">
【6】過去30年以上連続して死因別死亡率で第1位となっている疾病として、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem6">
  <%= form.submit "1.心疾患",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.悪性新生物(がん)",class: 'select-button'  %></div>
  <%= form.submit "3.肝疾患",class: 'select-button'  %></br>
  <%= form.submit "4.脳血管疾患",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   PM2.5、二酸化硫黄、一酸化炭素は大気汚染</span>
   </div>
</br>
<div class="sentence">
【7】細菌を病原体とする感染症として、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem7">
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.腸チフス",class: 'select-button' %></div>
  <%= form.submit "2.インフルエンザ",class: 'select-button'  %></br>
  <%= form.submit "3.マラリア",class: 'select-button'  %></br>
  <%= form.submit "4.発しんチフス",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   FAOは国連食糧農業機関、ILOは国際労働機関、OECDは経済協力開発機構</span>
   </div>
</br>
<div class="sentence">
【8】喫煙の健康影響と喫煙率に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem8">
  <%= form.submit "1.煙の中の有害物質を代表するものには、二酸化炭素（ CO2）がある。",class: 'select-button' %></br>
  <%= form.submit "2.「健康日本21（第二次）」では、喫煙率12%を未成年者の目標としている。",class: 'select-button'  %></br>
    <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.重要な健康への影響には、がん、高血圧、心疾患、脳血管疾患がある。",class: 'select-button'  %></div>
  <%= form.submit "4.妊娠中の喫煙による胎児への影響は、認められていない。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   労働組合法は労働条件の交渉方法。</br>
   労働安全衛生法は労働者の安全や健康を確保するための規制。</br>
   労働関係調整法は労働争議を予防又は解決するための手続きを定めた法律。</span>
   </div>
</br>
<div class="sentence">
【9】健康増進法に規定されている事項として、誤っているものを一つ選びなさい。</div>
<div class="problem" id="problem9">
  <%= form.submit "1.国民の健康増進の総合的な推進に関する基本的な事項",class: 'select-button' %></br>
  <%= form.submit "2.受動喫煙の防止",class: 'select-button'  %></br>
  <%= form.submit "3.国民健康・栄養調査の実施",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.特定給食施設への専門調理師の設置",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   1は国勢調査、2は国民健康・栄養調査、3は人口推計</span>
   </div>
</br>
<div class="sentence">
【10】調理師免許に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem10">
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.欠格事由には、麻薬、あへん、大麻または覚せい剤の中毒者がある。",class: 'select-button' %></div>
  <%= form.submit "2.免許申請は、勤務先所在地の市区町村長に対して行う。",class: 'select-button'  %></br>
  <%= form.submit "3.免許は、厚生労働省に備える調理師名簿に登録することによって行われる。",class: 'select-button'  %></br>
  <%= form.submit "4.免許証は、勤務先を管轄する市町村長から交付される。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   肺がんと慢性閉塞性肺疾患は、タバコに含まれる一酸化炭素・ニコチン・タールがリスク要因。</br>
   糖尿病は脂質や糖質の過剰摂取、野菜摂取不足、運動不足等の生活習慣が原因。</span>
   </div>
</br>
<div class="category">
食品学
</div></br>
<div class="sentence">
【11】米に関する記述で、（　　　）に入る語句の組み合わせとして、正しいものを一つ選びなさい。</br>
『（　A　）は、米粒が細長くて砕けやすい。（　A　）のうるち米の米飯は、粘りが（　B　）。世界で消費されている米の約80%が（　A　）である。』</div>
<div class="problem" id="problem11">
  <%= form.submit "1.A：ジャポニカ米　　B：多い",class: 'select-button' %></br>
  <%= form.submit "2.A：ジャポニカ米　　B：少ない",class: 'select-button'  %></br>
  <%= form.submit "3.A：インディカ米　　B：多い",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.A：インディカ米　　B：少ない",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   1は発芽玄米、2は容器包装詰加圧加熱殺菌食品、4の道明寺粉はもち米を蒸して乾燥させたもの。</span>
   </div>
</br>
<div class="sentence">
【12】豆腐に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem12">
  <%= form.submit "1.凝固剤として使われている「にがり」の主成分は、硫酸カルシウムである。",class: 'select-button' %></br>
  <%= form.submit "2.木綿豆腐は、濃い豆乳に凝固剤を加え、型箱の中でそのまま固めたものである。",class: 'select-button'  %></br>
  <%= form.submit "3.絹ごし豆腐は、型箱に布を敷き、凝固剤を加えた豆乳を入れ、圧縮して固めたものである。",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.充填豆腐は、濃い豆乳に凝固剤を加え、容器に入れて密封後、加熱凝固させたものである。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   大豆の成分で最も多いものはたんぱく質。</br>
   グリーンピースはさやえんどう。</br>
   緑豆はもやしに使われる豆。</span>
   </div>
</br>
<div class="sentence">
【13】野菜類に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem13">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.東洋種のほうれんそうは、西洋種と比べ、シュウ酸が少ない。",class: 'select-button' %></div>
  <%= form.submit "2.小松菜の旬は、夏である。",class: 'select-button'  %></br>
  <%= form.submit "3.れんこんは、茎菜類である。",class: 'select-button'  %></br>
  <%= form.submit "4.日本かぼちゃは、西洋かぼちゃに比べ、水分が少ない。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
  まさばは出世魚ではない、すずきの幼魚(せいご→ふっこ)、かんぱちの幼魚(しょご)</span>
   </div>
</br>
<div class="sentence">
【14】果実類に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem14">
  <%= form.submit "1.リンゴの酸味の主成分は、クエン酸である。",class: 'select-button' %></br>
 <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.日本ナシの特有の食感は、果肉中の石細胞による。",class: 'select-button'  %></div>
  <%= form.submit "3.渋柿の渋味は、不溶性タンニンによる。",class: 'select-button'  %></br>
  <%= form.submit "4.すいかの果肉色は、アントシアニンによる。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   精肉とは直接調理できるように形を整えた食肉。</br>
   食肉の主要なうまみ成分はイノシン酸。</br>
   生後1年未満の子羊肉はラム。</span>
   </div>
</br>
<div class="sentence">
【15】牛乳に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem15">
  <%= form.submit "1.乳清たんぱく質は、キモシン（レンニン）によって凝固沈殿する。",class: 'select-button' %></br>
  <%= form.submit "2.脂質の大部分は、カゼインと結合して存在する。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.脂肪球を細かくする工程を施したものを「均質牛乳（ホモ牛乳）」という。",class: 'select-button'  %></div>
  <%= form.submit "4.無脂肪牛乳は、加工乳に分類される。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   鶏卵にビタミンCは含まれていない。</br>
   溶菌作用を持つたんぱく質は卵白に含まれる。</br>
   鮮度が低下すると粘度は落ちる。</span>
   </div>
</br>
<div class="sentence">
【16】アルコール飲料の分類とその品名の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem16">
  <%= form.submit "1.醸造酒 ――― ウイスキー ",class: 'select-button' %></br>
  <%= form.submit "2.蒸留酒 ――― 紹興酒",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.混成酒 ――― みりん ",class: 'select-button'  %></div>
  <%= form.submit "4.発泡性酒 ―― 清酒",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   オリーブ油は不乾性油。</br>
   てんぷら油はサラダ油より精製度が低い。</br>
   ラードの融点は28~40℃、ヘッドの融点は40~50℃。</span>
   </div>
   </br>
<div class="category">
栄養学
</div>
</br>
<div class="sentence">
【17】味覚とその味覚成分の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem17">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.うま味 ―― グルタミン酸",class: 'select-button' %></div>
  <%= form.submit "2.塩味 ――― カフェイン",class: 'select-button'  %></br>
  <%= form.submit "3.酸味 ――― イノシン酸",class: 'select-button'  %></br>
  <%= form.submit "4.苦味 ――― 食塩",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   体内で作ることができないため、外部から摂取する必要がある。</span>
   </div>
</br>
<div class="sentence">
【18】「食事バランスガイド」に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem18">
     2 .   3 .   4 .
  <%= form.submit "1.主食、副菜、主菜、果物、菓子の5区分となっている。",class: 'select-button' %></br>
  <%= form.submit "2.1食にどれだけ食べればよいかを区分ごとに示している。",class: 'select-button'  %></br>
  <%= form.submit "3.基本形（ 2,200±200kcal ）では、主食は2～3サービング（ 2～3つ）である。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.主食の1サービング（ 1つ）は、主材料に由来する炭水化物約40gである。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   食品中の脂質の大部分は中性脂肪(トリアシグリセロール)。</br>
   中性脂肪は単純脂質。</br>
   ホルモンの材料になるのはコレステロール。</span>
   </div>
</br>
<div class="sentence">
【19】炭水化物に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem19">
  <%= form.submit "1.アミロペクチンは、ぶどう糖がまっすぐ鎖状に結合している。",class: 'select-button' %></br>
  <%= form.submit "2.でんぷんが加水分解されると、乳糖（ラクトース）が生成する。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.果糖（フルクトース）は、ショ糖の成分である。",class: 'select-button'  %></div>
  <%= form.submit "4.単糖類は、ヒトの消化酵素によって加水分解される。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   消化酵素では分解されず大腸まで到達する。</br>
   わずかながら動物性食品にも存在する。</br>
   1日の摂取基準は男性21g、女性18g。</span>
   </div>
</br>
<div class="sentence">
【20】脂肪酸に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem20">
  <%= form.submit "1.短鎖脂肪酸は、バターよりサフラワー油に多く含まれている。",class: 'select-button' %></br>
  <%= form.submit "2.不飽和脂肪酸は、大豆油よりラードに多く含まれている。",class: 'select-button'  %></br>
  <%= form.submit "3.飽和脂肪酸は、炭化水素鎖に二重結合が存在する。",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.エイコサペンタエン酸（ EPA ）は、n−3（ω3 ）系脂肪酸である。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   カゼインは牛乳の主要たんぱく質。</br>
   ミオグロビンは肉や赤身魚の色素。</br>
   ムチンはムコたんぱく質と糖たんぱく質の混合物。</span>
   </div>
</br>
<div class="sentence">
【21】アミノ酸・たんぱく質に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem21">
  <%= form.submit "1.ヒトの必須アミノ酸（不可欠アミノ酸）は、12種類である。",class: 'select-button' %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.非必須アミノ酸（可欠アミノ酸）は、ヒト体内で合成できる。",class: 'select-button'  %></div>
  <%= form.submit "3.たんぱく質は、骨には含まれていない。",class: 'select-button'  %></br>
  <%= form.submit "4.ヘモグロビンは、アミノ酸だけからなる単純たんぱく質である。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   盲腸・結腸・直腸からなるのは大腸</span>
   </div>
</br>
<div class="sentence">
【22】ビタミンに関する記述について、誤っているものを一つ選びなさい。</div>
<div class="problem" id="problem22">
  <%= form.submit "1.水溶性と脂溶性がある。",class: 'select-button' %></br>
  <%= form.submit "2.ヒトの皮膚で作ることができるものがある。",class: 'select-button'  %></br>
  <%= form.submit "3.酵素の補酵素になるものがある。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.ヒトのエネルギー源になるものがある。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   ビタミンA、葉酸、鉄は推定平均必要量、推奨量、耐容上限量が定められている。</span>
   </div>
</br>
<div class="sentence">
【23】無機質に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem23">
  <%= form.submit "1.カルシウムの消化管での吸収率は、牛乳・乳製品より野菜類の方が高い。",class: 'select-button' %></br>
  <%= form.submit "2.リンは、血液に多く含まれている。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.ヨウ素は、甲状腺に多く含まれている。",class: 'select-button'  %></div>
  <%= form.submit "4.鉄は、海藻類には含まれていない。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   炭水化物は約40g</span>
</div>
</br>
<div class="sentence">
【24】妊娠期と乳児期の栄養に関する記述について、誤っているものを一つ選びなさい。</div>
<div class="problem" id="problem24">
  <%= form.submit "1.妊娠中は貧血になりやすいので、良質たんぱく質、鉄、ビタミンを十分に摂取する。",class: 'select-button' %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.人工乳は、母乳より感染を抑制する作用が大きい。",class: 'select-button'  %></div>
  <%= form.submit "3.母乳栄養は、母と子の精神的なつながりがうまれやすい。",class: 'select-button'  %></br>
  <%= form.submit "4.離乳は、生後5、6か月頃から始める。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   1と3はビタミンD、2はビタミンA</span>
   </div>
</br>
<div class="sentence">
【25】血糖とその調節に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem25">
  <%= form.submit "1.血糖値は、血液中のガラクトース濃度である。",class: 'select-button' %></br>
  <%= form.submit "2.血糖値は、健常者では食後約3時間で最高値になる。",class: 'select-button'  %></br>
  <%= form.submit "3.血糖は、脳ではエネルギー源にならない。",class: 'select-button'  %></br>
    <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.血糖値が上昇すると、すい臓ランゲルハンス島からインスリンが分泌される。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   成人は約60%、高齢者は50%、新生児は70～80%</span>
   </div>
   </br>
<div class="category">
食品衛生学
</div></br>
<div class="sentence">
【26】食品の保存に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem26">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.塩漬け法は、塩の添加により結合水を増加させる方法である。",class: 'select-button' %></div>
  <%= form.submit "2.酢漬け法は、pHを上昇させて微生物の増殖を抑える方法である。",class: 'select-button'  %></br>
  <%= form.submit "3.乾燥法は、食品中の自由水の割合を増加させる方法である。",class: 'select-button'  %></br>
  <%= form.submit "4.氷温貯蔵では、食品中の水を凍結させて保管する方法である。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   肝吸虫はマメタニシや淡水魚に宿る。</br>
   サルコシスティス・フェアリーが発生するのは馬肉。</br>
   アニサキスは加熱又は冷凍貯蔵で死滅する。</span>
   </div>
</br>
<div class="sentence">
【27】食品添加物とその用途の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem27">
  <%= form.submit "1.ソルビン酸カリウム ―― 殺菌",class: 'select-button' %></br>
  <%= form.submit "2.亜硫酸ナトリウム ――― 発色",class: 'select-button'  %></br>
  <%= form.submit "3.L−アスコルビン酸 ――― 着色",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.アスパルテーム ―――― 甘味",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   潜伏期は10~24時間。</br>
   食品内毒型食中毒は、黄色ブドウ球菌やボツリヌス菌、セレウス菌など。</br>
   主な原因食品は、保菌動物の肉や卵、鶏卵加工を、加熱不十分のまま摂取すること。</span>
   </div>
</br>
<div class="sentence">
【28】植物とその食中毒原因物質の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem28">
  <%= form.submit "1.ぎんなん ――― ムスカリン",class: 'select-button' %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.じゃがいも ―― チャコニン",class: 'select-button'  %></div>
  <%= form.submit "3.青梅 ――――― アルカロイド",class: 'select-button'  %></br>
  <%= form.submit "4.スイセン ――― アコニチン",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   アサリに含まれる主な毒はサキシトキシン、イシナギはビタミンA、フグはテトロドトキシン。</span>
   </div>
</br>
<div class="sentence">
【29】「大量調理施設衛生管理マニュアル」における原材料とその保存温度の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem29">
  <%= form.submit "1.生鮮果実類 ―― 20℃以下",class: 'select-button' %></br>
  <%= form.submit "2.食肉類 ―――― 15℃以下",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.生鮮魚介類 ―― 5℃以下",class: 'select-button'  %></div>
  <%= form.submit "4.鶏卵 ――――― 15℃以下",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   保存温度は-15℃以下。</br>
   輸送中も冷凍の温度帯を保たなければならない。</br>
   細菌を死滅させることはできません。</span>
   </div>
</br>
<div class="sentence">
【30】「大量調理施設衛生管理マニュアル」における二次汚染の防止作業として、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem30">
  <%= form.submit "1.下処理は、非汚染作業区域で行う。",class: 'select-button' %></br>
    <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.食品を取り扱う場合は、床面から60cm以上の場所で行う。",class: 'select-button'  %></div>
  <%= form.submit "3.器具や容器などは、流水で洗浄後に75℃、10分以上で殺菌する。",class: 'select-button'  %></br>
  <%= form.submit "4.調理終了後の食品は、放冷のためにふたをしないで保管する。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   メラミン樹脂製は電子レンジ不可。</br>
   ガラス器は急激な温度変化に弱い。</br>
   ポリプロピレン製の食器は熱可塑性樹脂。</span>
   </div>
</br>
<div class="sentence">
【31】化学的消毒法に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem31">
  <%= form.submit "1.消毒用エタノールは、薄めたものより100%のものの方が消毒力は強い。",class: 'select-button' %></br>
  <%= form.submit "2.逆性せっけんは、洗浄力が非常に強い。",class: 'select-button'  %></br>
  <%= form.submit "3.オゾン水による消毒後は、十分にすすぎを行う。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.次亜塩素酸ナトリウムは、食品添加物に指定されている。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   検収場、原材料保管場、下水処理場は汚染作業区域</span>
   </div>
</br>
<div class="sentence">
【32】自然毒食中毒に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem32">
  <%= form.submit "1.ベロ毒素は、シガテラ毒魚が産生する毒素である。",class: 'select-button' %></br>
  <%= form.submit "2.フグ毒による主な中毒症状は、激しい頭痛である。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.テトロドトキシンは、100℃1時間の加熱では不活性化されない。",class: 'select-button'  %></div>
  <%= form.submit "4.イシナギの肝臓の多量摂取により、ビタミンD過剰症が起こる。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   保存料はカビや微生物などの発育を抑制、着色料は食品を着色、防ばい剤はカビを防ぐ。</span>
   </div>
</br>
<div class="sentence">
【33】食品添加物の主要用途に関する記述について、誤っているものを一つ選びなさい。</div>
<div class="problem" id="problem33">
  <%= form.submit "1.亜硝酸ナトリウムは、発色剤として使用される。",class: 'select-button' %></br>
  <%= form.submit "2.イマザリルは、防ばい剤として使用される。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.デヒドロ酢酸ナトリウムは、酸化防止剤として使用される。",class: 'select-button'  %></div>
  <%= form.submit "4.キシリトールは、甘味料として使用される。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   熱湯消毒は85℃以上の熱湯で5分以上。</br>
   煮沸消毒は沸騰状態で5分以上、調理器具には適さない。</br>
   低温殺菌法は60~70℃で30分以上。</span>
   </div>
</br>
<div class="sentence">
【34】HACCPに関する記述について、誤っているものを一つ選びなさい。</div>
<div class="problem" id="problem34">
  <%= form.submit "1.食品製造の各工程での管理や記録の保管が重要となる。",class: 'select-button' %></br>
  <%= form.submit "2.実施には、一般的衛生管理プログラムが実施されていることが必要となる。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.導入すれば、再度HACCPシステムの検証を行う必要性はない。",class: 'select-button'  %></div>
  <%= form.submit "4.実施すれば、最終製品の検査を一つひとつ行わなくても安全性を担保できる。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   自然毒食中毒は季節と関係して発生する</span>
   </div>
</br>
<div class="sentence">
【35】食物から感染する寄生虫とその媒介食物の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem35">
  <%= form.submit "1.クリプトスポリジウム ―――――― ドジョウ",class: 'select-button' %></br>
  <%= form.submit "2.クドア・セプテンプンクタータ ―― タラ",class: 'select-button'  %></br>
  <%= form.submit "3.旋尾線虫 ―――――――――――― 馬肉",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.旋毛虫 ――――――――――――― 豚肉",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   予防になるのは食材の加熱調理</span>
   </div>
</br>
<div class="sentence">
【36】細菌性食中毒の原因菌とその型別分類の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem36">
  <%= form.submit "1.黄色ブドウ球菌 ――― 生体内毒素型食中毒",class: 'select-button' %></br>
  <%= form.submit "2.ウエルシュ菌 ―――― 食品内毒素型食中毒",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.サルモネラ菌 ―――― 感染型食中毒",class: 'select-button'  %></div>
  <%= form.submit "4.カンピロバクター ―― 食品内毒素型食中毒",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   特定原材料は8品目(卵、乳、小麦、そば、落花生、えび、かに、くるみ)。</br>
   準ずるものは21品目、可能な限り表示する食品にあじは含まれていない。</span>
   </div>
</br>
<div class="sentence">
【37】カンピロバクター食中毒に関する記述について、誤っているものを一つ選びなさい。</div>
<div class="problem" id="problem37">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.潜伏期は短く、8時間から15時間である。",class: 'select-button' %></div>
  <%= form.submit "2.症状は、下痢、腹痛、発熱でめまいなどを起こすこともある。",class: 'select-button'  %></br>
  <%= form.submit "3.原因食品は、加熱不十分な鶏肉が多く、殺菌が不十分な井戸水でも起きることがある。",class: 'select-button'  %></br>
  <%= form.submit "4.ごく少量の菌量で、食中毒を起こす可能性がある。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   フードバンクは生活の苦しい者などに配給する活動や活動団体。</br>
   HACCPプランはHACCPの原則に従い作成する計画。</br>
   HACCPチームはHACCPシステムを導入、推進していくうえで主となるチーム。</span>
   </div>
</br>
<div class="sentence">
【38】食材の保存・加熱に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem38">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.冷凍食品は、食品衛生法で−15℃以下で保存することと規定している。",class: 'select-button' %></div>
  <%= form.submit "2.加熱調理する食材は、食材の中心温度が65℃で1分間加熱する。",class: 'select-button'  %></br>
  <%= form.submit "3.ノロウイルスの感染の恐れがある二枚貝等は、75℃～80℃で90秒以上加熱する。",class: 'select-button'  %></br>
  <%= form.submit "4.検食用に食材を保存する場合、清潔な容器に入れ−15℃で1週間以上行う。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   飲食店を営む場合は都道府県知事の許可が必要。</br>
   保健所は都道府県の附属機関。</br>
   食品安全委員会は内閣府の附属機関。</span>
   </div>
</br>
<div class="sentence">
【39】食中毒の発生状況に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem39">
  <%= form.submit "1.平成29年（ 2017年）から令和元年（ 2019年）で最も多い食中毒の原因物質は、ノロウイルスである。",class: 'select-button' %></br>
  <%= form.submit "2.平成29年（ 2017年）から令和元年（ 2019年）で最も多い原因施設は、旅館である。",class: 'select-button'  %></br>
  <%= form.submit "3.自然毒食中毒は、夏季（ 6～9月）に多く発生する傾向にある。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.化学性食中毒は、季節とは関係なく発生する。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   床面はドライに保つ。</br>
   扉や窓の開放は害虫や害獣の侵入の恐れがある。</br>
   冷蔵庫内の温度はスペースに余裕を持って使用する方が安定する。</span>
   </div>
</br>
<div class="category">
調理理論
</div></br>
<div class="sentence">
【40】砂糖を添加した際の特性の変化に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem40">
  <%= form.submit "1.卵白の泡を不安定にさせる。",class: 'select-button' %></br>
  <%= form.submit "2.たんぱく質の熱凝固を促進する。",class: 'select-button'  %></br>
  <%= form.submit "3.でんぷんの老化を促進する。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.アミノカルボニル反応（メイラード反応）を促進する。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   乳化剤、酸味料、苦味料は定められていない。</span>
   </div>
   </br>
<div class="sentence">
【41】卵黄に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem41">
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.強い乳化力がある。",class: 'select-button' %></div>
  <%= form.submit "2.水分含有量は、約85%である。",class: 'select-button'  %></br>
  <%= form.submit "3.炭水化物を多く含む。",class: 'select-button'  %></br>
  <%= form.submit "4.殻つき鶏卵重量の約15%を占める。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   焼き物は乾式加熱、串焼きは直火焼、包み焼きは間接加熱。</span>
   </div>
  </br>
    <div class="sentence">
【42】天ぷらに関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem42">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.油の温度を一定に保つために、材料は一度に大量に入れない。",class: 'select-button' %></div>
  <%= form.submit "2.じゃがいもの素揚げの吸油率は、15～20%である。",class: 'select-button'  %>
  <%= form.submit "3.衣には、強力粉を用いる。",class: 'select-button'  %></br>
  <%= form.submit "4.魚介類は、140～160℃で揚げる。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   1は黄身焼き、2は振り塩、4は煮しめ</span>
   </div>
  </br>
  <div class="sentence">
【43】食材料の洗い方に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem43">
  <%= form.submit "1.魚介類は、真水で洗う。",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.うどんやそばは、ゆでた後に洗いぬめりをとる。",class: 'select-button'  %></div>
  <%= form.submit "3.だいこんやにんじんは、加熱後に洗う｡",class: 'select-button'  %></br>
  <%= form.submit "4.たけのこ、ふきなどは、加熱後に洗わない。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   香辛料は食欲の促進や香りづけの目的もある。</br>
   ターメリックやサフランは色付けにも使われる。</br>
   ブーケガルニは風味づけにも使われる。</span>
   </div>
</br>
<div class="sentence">
【44】煮物調理に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem44">
  <%= form.submit "1.炒め煮は、材料を油通ししてから煮汁と削り節を加えて煮る。",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.煎り煮は、加熱しながら水分を飛ばしていく煮方である。",class: 'select-button'  %></div>
  <%= form.submit "3.土佐煮は、魚介類や白色野菜を用い、色をつけずに煮上げる。",class: 'select-button'  %></br>
  <%= form.submit "4.調味は、浸透しにくい調味料を後に加え、香りを生かす場合は先に加える。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   ゼラチンの主成分はたんぱく質。</br>
   砂糖の添加でゼリー強度は安定する。</br>
   酸性条件下ではゼリー強度は低下する。</span>
   </div>
</br>
<div class="sentence">
【45】砂糖水溶液の加熱に関する記述について、煮詰め温度が高い順に並んでいるものを一つ選びなさい。</div>
<div class="problem" id="problem45">
  <%= form.submit "1.シロップ　　　　　＞　カラメル　＞　フォンダン",class: 'select-button' %></br>
  <%= form.submit "2.抜絲（バースー）　＞　シロップ　＞　カラメル",class: 'select-button'  %></br>
  <%= form.submit "3.フォンダン　　　　＞　カラメル　＞　シロップ",class: 'select-button'  %></br>
 <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.カラメル　　　　　＞　抜絲（バースー）　＞　フォンダン",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   40℃以上でできる皮膜はたんぱく質と脂肪。</br>
   有機酸の多い野菜の煮込みには適さない。</br>
   カルシウムイオンは卵のたんぱく質の熱凝固を促進する。</span>
   </div>
</br>
<div class="sentence">
【46】野菜とそのあく抜きに使用する添加物の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem46">
  <%= form.submit "1.たけのこ ―― 食塩",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.れんこん ―― 酢 ",class: 'select-button'  %></div>
  <%= form.submit "3.わらび ――― 米ぬか",class: 'select-button'  %></br>
  <%= form.submit "4.よもぎ ――― 砂糖",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   三杯酢はしょうゆ、酢、みりん又は砂糖。</br>
   田楽みそはみそ、砂糖、酒。</br>
   吉野酢はしょうゆ、塩、砂糖、くず粉。</span>
   </div>
</br>
<div class="sentence">
【47】さばの調理性に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem47">
  <%= form.submit "1.しめさばは、魚肉中のたんぱく質を酵素により変性させたものである。",class: 'select-button' %></br>
  <%= form.submit "2.素揚げする場合は、低温（ 80℃）で揚げる。",class: 'select-button'  %></br>
  <%= form.submit "3.そぼろ（でんぶ）に向いている。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "4.みそを用いて調理すると、生臭みが抑えられる。",class: 'select-button'  %></div>
   <span class='select-message' style='display:none;'>解説</br>
   浸漬には酢や食塩を用いる場合もある。</br>
   うどやごぼうを浸漬する目的はあく抜きのため。</br>
   じゃがいもを浸漬する目的は褐変防止のため。</span>
   </div>
</br>
<div class="sentence">
【48】こんにゃくに関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem48">
  <%= form.submit "1.原料は、キャッサバイモである。",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.凝固は、加熱時に消石灰を加えて調製する。",class: 'select-button'  %></div>
  <%= form.submit "3.主成分は、アガロースである。",class: 'select-button'  %></br>
  <%= form.submit "4.さしみこんにゃくは、イモに寒天を加えて調製する。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   油脂の高温加熱は栄養成分の損失が煮物より少ない。</br>
   調味料は浸透しずらくなる。</br>
   材料は中華鍋に余裕を持って入れた方が良い。</span>
   </div>
   </br>
   <div class="sentence">
【49】小豆餡の種類に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem49">
  <%= form.submit "1.生餡とは、水煮した豆粒を冷ました状態のものをいう。",class: 'select-button' %></br>
  <%= form.submit "2.さらし餡とは、原料豆を水煮してつぶし、水さらししたものをいう。",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.つぶ練り餡とは、原料豆を水煮してつぶし、砂糖を加えて練ったものをいう。",class: 'select-button'  %></div>
  <%= form.submit "4.こし練り餡とは、原料豆からでんぷんを取り出し、加熱しながら砂糖を加えて練ったものをいう。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   ぎゅうひは白玉粉に水と砂糖を加えて練ったもの。</br>
   上新粉に白玉粉を加えて練ると生地は柔らかくなる。</br>
   上新粉に片栗粉を加えて練ると生地は硬くなる。</span>
   </div>
   </br>
   <div class="sentence">
【50】藻類の調理に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem50">
  <%= form.submit "1.生わかめを長時間ゆでると、褐色になる。",class: 'select-button' %></br>
  <%= form.submit "2.生ひじきを長時間加熱し乾燥すると、緑色が鮮やかになる。",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.こんぶに酢や食塩を加えて煮ると、やわらかくなる。",class: 'select-button'  %></div>
  <%= form.submit "4.乾燥こんぶの表面に付いている白い粉はかびであり、よく洗ってからだしをとる。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   ドウは小麦粉1に対して水分50%、</br>
   牛乳の換水値は0.9、</br>
   中華麺に加えるかん水はアルカリ性。</span>
   </div>
   </br>
   <div class="sentence">
【51】食べ物とその食べ物をおいしいと感じる温度の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem51">
  <%= form.submit "1.紅茶、緑茶 ―――― 約100℃ ",class: 'select-button' %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.茶わん蒸し ―――― 約60～65℃ ",class: 'select-button'  %></div>
  <%= form.submit "3.アイスクリーム ―― 約0℃ ",class: 'select-button'  %></br>
  <%= form.submit "4.冷やっこ ――――― 約5℃",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   とろろは生のまますりおろすとよい。</br>
   さといものかゆみ成分はシュウ酸カルシウム。</br>
   さつまいもはみょうばん溶液でゆでると黄色く仕上がる。</span>
   </div>
</br>
   <div class="sentence">
【52】じゃがいもの素揚げの吸油率の多い順に示した組み合わせとして、正しいものを一つ選びなさい</br>
     （使用量、温度、時間は同じとする。） </div>
<div class="problem" id="problem53">
  <%= form.submit "1.くし形切り（皮付き4つ割り）　＞　拍子木切り（ 5㎜角×5㎝）　＞　薄切り（ 1.5㎜厚）",class: 'select-button' %></br>
  <%= form.submit "2.拍子木切り　＞　くし形切り　＞　薄切り",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.薄切り　　　＞　拍子木切り　＞　くし形切り",class: 'select-button'  %></div>
  <%= form.submit "4.薄切り　　　＞　くし形切り　＞　拍子木切り",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   水中油滴型は牛乳や生クリーム。</br>
   クリーミング性は攪拌した際に空気を多量に取り込みやわらかい状態になること。</br>
   可塑性は自在に形を変えられること。</span>
   </div>
</br>
<div class="sentence">
【53】食品の低温保存に関する記述について、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem54">
  <%= form.submit "1.油脂含量の多い食品は、冷凍保存により酸化が抑制される。",class: 'select-button' %></br>
    <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.ほうれんそうは、洗浄後、ブランチングをしてから冷凍するのがよい。",class: 'select-button'  %></div>
  <%= form.submit "3.バナナは、チルド保存に適する。",class: 'select-button'  %></br>
  <%= form.submit "4.パーシャル保存は、最大氷結晶生成帯で保存するので鮮度の劣化が大きい。",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   酢水でゆでると色が白くなり、歯切れがよくなる。</br>
   すりおろす際に酢を加えると褐変が抑制される。</span>
   </div>
</br>
<div class="sentence">
【54】調理師法が議員立法として国会に提出され、公布・施行された年として、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem52">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.昭和33年（ 1958年）",class: 'select-button' %></div>
  <%= form.submit "2.昭和39年（ 1964年）",class: 'select-button'  %></br>
  <%= form.submit "3.平成17年（ 2005年）",class: 'select-button'  %></br>
  <%= form.submit "4.平成25年（ 2013年）",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   豚肉の肉色が薄いのはミオグロビン量が少ないから。</br>
   熟成期間が最も短いのは鶏肉。</br>
   豚肉の脂肪は口中で溶けやすいため冷たい料理に適している。</span>
   </div>
   </br>
<div class="sentence">
【55】菓子に関する記述で、（　　　）に入る語句の組み合わせとして、正しいものを一つ選びなさい。</br>
『ポルトガル人の種子島漂着を機に南蛮と称された国々から伝来したカステラや（　A　）などの南蛮菓子は、（　B　）や多量の砂糖を使用し、その後の日本の菓子文化に影響を与えた。』</div>
<div class="problem" id="problem55">
  <%= form.submit "1.A：まんじゅう ――― B：寒天 ",class: 'select-button' %></br>
  <%= form.submit "2.A：ういろう ―――― B：みそ",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.A：こんぺいとう ―― B：卵",class: 'select-button'  %></div>
  <%= form.submit "4.A：おこし ――――― B：きな粉",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   丸底の中華鍋は蒸し物・煮物に適している。</br>
   圧力鍋の内部温度は120℃まで。</br>
   樹脂でコーティングしたフライパンは空焼きすると有害性が生じる。</span>
   </div>
</br>
<div class="sentence">
【56】郷土料理とその主材料の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem56">
  <%= form.submit "1.ずんだ餅 ――― 胡麻",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.ほうとう ――― 小麦粉",class: 'select-button'  %></div>
  <%= form.submit "3.おきゅうと ―― 芋",class: 'select-button'  %></br>
  <%= form.submit "4.きりたんぽ ―― 魚",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   急速冷凍は、最大氷結晶生成帯の通過時間を短くして冷凍する方法。</br>
   葉菜類を冷凍する場合は、洗浄後しっかりと水けを拭き取ってから冷凍する。</br>
   魚介類の解凍は、必ず緩慢解凍で行う。
   </span>
   </div>
   </br>
<div class="category">
食文化概論
</div></br>
<div class="sentence">
【57】食料自給率に関する記述で、（　　　）に入る語句の組み合わせとして、正しいものを一つ選びなさい。</br>
『我が国の食料自給率は年々（　A　）している。平成30年度（ 2018年度）のカロリーベースの食料自給率（概算値）は（　B　）である。』</div>
<div class="problem" id="problem57">
  <%= form.submit "1.A：上昇　　B：37% ",class: 'select-button' %></br>
  <%= form.submit "2.A：上昇　　B：66%",class: 'select-button'  %></br>
   <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.A：低下　　B：37%",class: 'select-button'  %></div>
  <%= form.submit "4.A：低下　　B：66%",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   緑黄色野菜、牛乳・乳製品、肉類は増加</span>
   </div>
  </br>
  <div class="sentence">
【58】都道府県とその地域に発達したすしの名称の組み合わせとして、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem58">
  <%= form.submit "1.東京都 -------- バッテラ",class: 'select-button' %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "2.岡山県 -------- ばらずし",class: 'select-button'  %></div>
  <%= form.submit "3.滋賀県 -------- 柿の葉ずし",class: 'select-button'  %></br>
  <%= form.submit "4.大阪府 -------- ふなずし",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   バッテラは大阪府、柿の葉ずしは奈良県、ふなずしは滋賀県</span>
   </div>
   </br>
   <div class="sentence">
【59】とうもろこし粉を使用している料理として、正しいものを一つ選びなさい。</div>
<div class="problem" id="problem59">
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "1.トルティージャ（メキシコ料理）",class: 'select-button' %></div>
  <%= form.submit "2.カーシャ（ロシア料理）",class: 'select-button'  %></br>
  <%= form.submit "3.ロティ（ネパール料理）",class: 'select-button'  %></br>
  <%= form.submit "4.ほうとう（日本料理）",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   カーシャは小麦、ロティは全粒粉、ほうとうは小麦粉</span>
   </div>
</br>
<div class="sentence">
【60】和食器に関する記述で、（　　　）に入る語句の組み合わせとして、正しいものを一つ選びなさい。</br>
『食器具類の中で（　A　）は、素地が緻密で高温の窯で焼くため硬く、たたくと金属のような音が特徴であり、石川県の（　B　）焼など、日本の代表的な食器具類として海外でも人気が高い。』</div>
<div class="problem" id="problem60">
  <%= form.submit "1.A：漆器　　B：益子",class: 'select-button' %></br>
  <%= form.submit "2.A：陶器　　B：常滑 ",class: 'select-button'  %></br>
  <div class="option">
  <span class='select-message' style='display:none;'>⭕️</span>
  <%= form.submit "3.A：磁器　　B：九谷",class: 'select-button'  %></div>
  <%= form.submit "4.A：土器　　B：有田",class: 'select-button'  %></br>
   <span class='select-message' style='display:none;'>解説</br>
   益子焼は栃木県、常滑焼は愛知県、有田焼は佐賀県</span>
   </div>
<% end %>
</br>
<%= link_to "トップページ", root_path,class: :past__btn  %>
</div>
